body {
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  padding: 0;
  color: white;
  background-color: #fff;
}

/* Banner */

.banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  background-color: white;
  z-index: 1000;
}

.banner nav {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding-right: 20px;
}

.banner nav a {
  font-family: "Josefin Sans", sans-serif;
  text-decoration: none;
  color: rgb(51, 51, 51);
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1.2em;
  font-weight: bold;
  padding-left: 22px;
  transition: all 0.2s ease;
}
.banner nav a:hover {
  color: #5c6ac4;
}
.svg-inline--fa {
  height: 0.9em;
}

.fa .logo-section {
  display: flex;
  align-items: center;
  padding-left: 40px;
}
.logo-section h2 {
  color: #5c6ac4;
  font-size: 25px;
  padding-left: 20px;
}
#logoyn {
  width: 90px;
  height: 85px;
  color: #35247b;
}

/* Fade */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 2s ease-in-out;
}

/* home */
.home-section {
  display: flex;
  background-color: rgb(51, 51, 51);
  height: 100vh;
  align-items: center;
  justify-content: space-between;
}

.text-en-boucle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.img-apropos {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 150px;
  width: 50%;
}
.type-container {
  text-align: left;
  font-size: 30px;
  padding: 50px;
}

/* float */
.floating-image-container {
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 100%;
}

.floating-image {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: floatAnimation 6s ease-in-out infinite;
}

@keyframes floatAnimation {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

/* Footer */
footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  height: 90px;
  background-color: rgb(51, 51, 51);
}
.footer-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-top: 3px solid #fafafa;
  padding-top: 10px;
}

.rights p {
  font-size: 0.6em;
}

/* apropos */
.apropos-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  gap: 50px;
  padding: 50px 20px;
  background-color: papayawhip;
}
.apropos-section p {
  text-align: left;
  font-size: 1.1em;
  line-height: 1.6;
  color: rgb(51, 51, 51);
  margin: 0;
}
.apropos-section h2 {
  display: flex;
  justify-content: flex-start;
  font-size: 3em;
  color: rgb(51, 51, 51);
  padding-right: 100px;
}
.apropos-section span {
  color: rgb(51, 51, 51);
}
.apropos-self {
  display: flex;
  align-self: center;
}
.apropos-section a {
  color: #5c6ac4;
}
.apropos-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;

  padding-top: 30px;
}
.apropos-p {
  display: flex;
  justify-content: center;

  gap: 50px;
}
.about-info {
  width: 30%;
  border: 2px solid #fff;
  padding: 20px;
}

.about-illustration img {
  max-width: 600px;
}
.apropos-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.about-info-links {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
}
/* Contact */
.contact-form input,
.contact-form textarea,
.contact-form button {
  box-sizing: border-box;
}
.mecontacter-section {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 74px;
  background-color: aliceblue;
}
.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.contact-form h2 {
  border-top: 3px solid white;
  padding-top: 15px;
  color: rgb(51, 51, 51);
}
.contact-form span {
  color: #5c6ac4;
}
.contact-form label {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: #5c6ac4;
  width: 100%;
}
.contact-form textarea {
  height: 200px;
  width: 450px;
  border-color: rgb(171, 60, 81);
  resize: none;
  font-family: "Josefin Sans", sans-serif;
  color: rgb(51, 51, 51);
  padding: 10px;
}
.contact-form input {
  height: 40px;
  color: rgb(51, 51, 51);
  border-color: rgb(171, 60, 81);
  font-family: "Josefin Sans", sans-serif;
}
.contact-form input:focus {
  outline: none;
}
.contact-form textarea:focus {
  outline: none;
}
.contact-form button {
  background-color: #5c6ac4;
  font-family: "Josefin Sans", sans-serif;
  color: aliceblue;
  border-color: aliceblue;
  height: 45px;
  width: 25%;
}
.contact-form button:hover {
  color: #5c6ac4;
  background-color: aliceblue;
  border: 2px solid rgb(171, 60, 81);
  cursor: pointer;
}
.contact-form button:focus {
  outline: none;
}
.message-sent {
  color: rgb(51, 51, 51);
  background-color: darkseagreen;
  border: 2px solid aliceblue;
  height: 25px;
  width: 266px;
  margin-top: 30px;
  margin-bottom: 50px;
  opacity: 1;
  transition: opacity 2s ease-out;
}
.message-sent.hide {
  opacity: 0;
}
.message-sent p {
  font-size: 1.1em;
  margin: 5px;
}

.mail-contact a {
  color: #5c6ac4;
}
h3 {
  color: rgb(51, 51, 51);
}

/* projects */

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  height: 195vh;
  position: relative;
  z-index: 1;
}
#background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.projects-container h2 {
  font-size: 3em;
  border-bottom: 6px solid white;
  padding: 50px;
}
.projects-container span {
  color: #5c6ac4;
}

.projects {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
  width: 100%;
}

.project-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 250px;
  width: 60%;
  background-color: rgb(51, 51, 51);
  border-top: 6px solid #fff;
  border-bottom: 6px solid #fff;
  transition: all 0.5s ease 0s !important;
}

.project-section:hover {
  background-color: #fff !important;
  color: rgb(51, 51, 51) !important;
  border-top: 6px solid rgb(51, 51, 51);
  border-bottom: 6px solid rgb(51, 51, 51);
  cursor: pointer;
  opacity: 0.9 !important;
}
.project-section img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 65px;
  padding: 35px 0px 0px 0px;
}
.project-p1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
  padding: 6px;
  background-color: #fff;
  color: rgb(51, 51, 51);
  height: 100%;
  width: 40%;
  transition: all 0.5s ease 0s !important;
}
.project-p1:hover {
  background-color: rgb(51, 51, 51);
}

.project-p2 {
  display: flex;
  width: 60%;
}

.project-section p {
  padding: 20px;
}
.project-section a {
  color: #5c6ac4;
  color: aliceblue;
  text-decoration: none;
}

.button-project-section a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5c6ac4;
  font-family: "Josefin Sans", sans-serif;
  color: aliceblue;
  height: 40px;
  width: 110px;
  gap: 10px;
  border-color: #5c6ac4;
}
.button-project-section:hover a {
  background-color: rgb(90, 62, 201);
  border-color: #35247b;
}
.banner-mobile {
  display: none;
}

/* skill set */
.skills-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("./images/backgroundskill.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}
.skills-container span {
  color: #5c6ac4;
}
.skills-section h2 {
  border-bottom: 3px solid rgb(51, 51, 51);
  font-size: 2em;
  color: rgb(51, 51, 51);
}
.compétence-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}
.skills-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.div-skill {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 15%;
  margin: 20px;
  transition: all 0.2s ease 0s !important;
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(
    to right,
    #e6abff,
    #6dc7ff,
    #1a6dff,
    #c822ff
  ); /* Dégradé de couleurs */
  border-image-slice: 1;
}
.div-skill img:hover {
  transform: scale(1.08);
}
.div-skill img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  transition: transform 0.5s ease;
}

/* Responsive */
@media only screen and (max-width: 1024px) {
  body {
    font-size: 16px;
  }
  .floating-image-container {
    width: 240px;
    height: 240px;
  }
  .Typewriter span {
    font-size: 0.7em;
  }
  .img-apropos {
    padding-top: 0px;
  }
  .type-container {
    padding: 0px;
  }
  .projects p {
    font-size: 0.9em;
  }
  .about-illustration img {
    max-width: 400px;
  }
  .apropos-section h2 {
    font-size: 2.4em;
  }
  .project-section {
    width: 80%;
  }
}

@media only screen and (max-width: 768px) {
  .banner {
    flex-direction: column;
    gap: 20px;
  }
  .banner nav {
    display: flex;
    gap: 35px;
  }
  .banner h2 {
    font-size: 2.2em;
    padding-left: 0px;
  }
  .home-section {
    flex-direction: column;
    height: 648px;
    padding-top: 290px;
    margin: 0px;
  }
  .floating-image-container {
    width: 175px;
    height: 175px;
  }
  .Typewriter {
    font-size: 0.7em;
  }
  .projects {
    flex-direction: column;
    width: 100%;
    height: 3000px;
  }
  .project-section {
    width: 90%;
  }
  .about-illustration img {
    max-width: 260px;
  }
  .about-illustration h2 {
    font-size: 1.8em;
  }

  /* banner mobile */

  .banner {
    display: none;
  }

  .banner-mobile {
    background-color: #181a27 !important;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    width: 100%;
    position: fixed;
    z-index: 1000;
  }
  .banner-mobile nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
  }
  .nav-mobile-part {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
  }
  .banner-mobile h2 {
    font-size: 2.4em;
    color: #5c6ac4;
  }
  .banner-mobile.expanded nav {
    background-color: #181a27 !important;
  }

  .apropos-section {
    height: auto;
  }
  .apropos-section p {
    font-size: 1em;
  }
  .img-apropos {
    padding-bottom: 150px;
  }
  .apropos-section h2 {
    font-size: 2em;
  }

  .contact-form {
    max-width: 600px;
    margin: 0 auto;
  }

  .contact-form input,
  .contact-form textarea {
    width: 80%;
  }

  .contact-form label {
    width: 100%;
  }
  .contact-form textarea {
    height: 150px;
    width: 80%;
  }
  form[name="contact-form-YN"] {
    width: 100%;
  }
  .contact-form button {
    margin-left: 13%;
    font-size: 0.65em;
  }
  .mail-contact h2 {
    font-size: 1.2em;
  }
}
